<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Liste des filmes</div>
            <table>
                <tr>
                    <th>Titre</th>
                    <th>Anée/th>
                    <th>Type</th>
                    <th>ID</th>
                    <th>Image de l'affiche</th>
                </tr>
                {% for record in data %}
                    <tr>
                        <td>{{ record.Title }}</td>
                        <td>{{ record.Type }}</td>
                        <td>{{ record.Year }}</td>
                        <td>{{ record.imdbID }}</td>
                        <td><img src="{{ record.Poster }}" alt="Image de l'affiche" width="200"></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>