<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% if index == true %}
            <div class="jumbotron">
                <div class="container">
                    <h1>The Movie</h1>
                    <p>Site de recherche de film, séries et d'épisodes !</p>
                </div>
            </div>
        {% else %}
            {% if data == false %}
                <div class="alert alert-danger" role="alert"><strong>Error!</strong> Le mot-clé renseigné est faux ou ne retourne aucun résultat :)</div>
            {% else  %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Rechercher tes films ou séries préférés</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <th class="text-center">Titre</th>
                                <th class="text-center">Année</th>
                                <th class="text-center">Type</th>
                                <th class="text-center">ID</th>
                                <th class="text-center">Affiche</th>
                            </tr>
                            {% for record in data %}
                                <tr>
                                    <td class="text-center">{{ record.Title|capitalize }}</td>
                                    <td class="text-center">{{ record.Year }}</td>
                                    <td class="text-center">{{ record.Type }}</td>
                                    <td class="text-center">{{ record.imdbID }}</td>
                                    <td class="text-center"><img src="{{ record.Poster }}" alt="poster" height="200rem"/> </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>