{% for record in data %}
    <div class="modal fade" id="{{ record.imdbID }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ record.Title }}</h4>
                </div>
                <div class="modal-body">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="{{ record.poster }}" alt="{{ record.Title }}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ record.Title }}</h4>
                            ...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}